<mat-toolbar  color="primary">
  <!-- make check userType and display page -->
  <button mat-icon-button 
  (click)="ui.currentUser.userType === 'customer' ? ui.changePage(PageName.HOME) 
            : ui.changePage(PageName.SHOPKEEPERPAGE)">
      <mat-icon>home</mat-icon>
    </button>
    <span>SAFO: Shop Around, Find Out</span>  
    <span class="header-spacer"></span>
    <div *ngIf="!ui.currentUser.id; else userLoggedIn">    
    <button mat-icon-button (click)="ui.changePage(PageName.LOGIN)">
        Login
    </button>
    <button mat-icon-button (click)="ui.changePage(PageName.SIGNUP)">
      Sign Up
    </button>
  </div>

    <ng-template #userLoggedIn>
      <span class="loggedIn-spacer"></span>
      <span>Welcome!</span>
      <span class="loggedIn-spacer"></span>
      <button mat-icon-button>
        <mat-icon [matBadge]="cartBadge" matBadgeColor="accent">shopping_cart</mat-icon>
      </button>
      <button mat-icon-button (click)="[ui.logout(), ui.changePage(PageName.HOME)]">
        Logout
    </button>
    <!-- change to PageName.USER or whatever the thing is -->
    <button mat-icon-button (click)="ui.changePage(PageName.CUSTOMERPAGE)">
      Profile
    </button>
  </ng-template>  
    
</mat-toolbar>
