<mat-toolbar  color="primary">
  
    <button mat-icon-button (click)="ui.changePage(PageName.HOME)">
      <mat-icon>home</mat-icon>
    </button>

    <span>SAFO: Shop Around, Find Out</span>
    <span class="header-spacer"></span>
    <!-- toggles btn text based on user logged in -->
    <div *ngIf="ui.pageName===0; else userLoggedIn">
    <button mat-icon-button (click)="ui.changePage(PageName.LOGIN)">
        Login
    </button>
    <button mat-icon-button (click)="ui.changePage(PageName.SIGNUP)">
      Sign Up
    </button>
    </div>

    <ng-template #userLoggedIn>      
      <span>Welcome!</span>
      <span class="header-spacer"></span>
      <button mat-icon-button (click)="ui.changePage(PageName.HOME)">
        Logout
    </button>
    <!-- change to PageName.USER or whatever the thing is -->
    <button mat-icon-button (click)="ui.changePage(PageName.SIGNUP)">
      Profile
    </button>
  </ng-template>  
    
</mat-toolbar>
