<mat-toolbar color="primary">
    <button mat-icon-button (click)="setHomepage()">
      <mat-icon>home</mat-icon>
    </button>
    <span>SAFO: Shop around and Find Out</span>
    <span class="example-spacer"></span>
    <!-- toggles btn text based on user logged in -->
    <button mat-icon-button (click)="ui.changePage(PageName.LOGIN)">
        {{getLoggedIn() === true ? 'Logout' : 'Login'}}
    </button>
    <button mat-icon-button (click)="ui.changePage(PageName.SIGNUP)">
      {{getLoggedIn() === true ? 'Profile' : 'Signup'}}
    </button>
</mat-toolbar>
<div *ngIf="getLoggedIn()">
  <h1>Logged In</h1>
</div>
<div *ngIf="getSignedUp()">
    <h1>Sign Up</h1>
</div>
<div *ngIf="getHomepage()">
    <h1>Homepage</h1>
</div>