<div class="category-container">
    <h4>Category</h4>
    <mat-form-field appearance="fill">
        <mat-label>Select Category</mat-label>
        
            <!-- w/ BE source -->
            <mat-select [(ngModel)]="selectedCategory">
                <mat-option *ngFor="let category of categories" [value]="category.categoryName">
                    {{category.categoryName}}
                </mat-option>
            </mat-select>
    </mat-form-field>
</div>

<div class="product-container">
    <ng-container *ngFor="let category of categories">
        <ng-container *ngFor="let product of category.products">
            <ng-container *ngIf="category.categoryName === selectedCategory">
                <app-product [product]="product"></app-product>
            </ng-container>
        </ng-container>
    </ng-container>
</div>

<!-- Displaying initial products -->
<div class="product-container">
    <app-product *ngFor="let product of uniqueCategoryProducts()" [product]="product"></app-product>
</div>
<!-- 
<app-product *ngFor="let product of ui.products" [product]="product"></app-product> -->
