<mat-card class="product-card">
    <mat-card-header>
      <mat-card-title>{{product?.productName}}</mat-card-title>
    </mat-card-header>
    <img class="card-image" mat-card-image  src="{{product?.image}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{product?.price | currency}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="card-button" mat-button (click)="ui.changePage(PageName.PRODUCTPAGE); ui.getProductByName(product)">View Product</button>
    </mat-card-actions>
</mat-card>
