<mat-card class="card">
    <mat-card-header>
      <h2>Log In</h2>
    </mat-card-header>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      type="text"
      placeholder="My Email"
      #liEmail
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="My Password"
      #liPassword
    />
  </mat-form-field>

  <button mat-flat-button color="primary" 
  (click)="[onLogIn(liEmail.value, liPassword.value)]">Log In</button>
  <!-- added change page event to above button -->
  <button mat-flat-button color="basic" (click)="onSignUp()">Sign Up</button>
</mat-card>