<mat-card class="card">
    <mat-card-header>
      <h2>Sign Up</h2>
    </mat-card-header>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      type="text"
      placeholder="My Email"
      #suEmail
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="My Password"
      #suPassword
    />
  </mat-form-field>

  <mat-radio-group aria-label="Select an option" class="radio-group">
    <mat-radio-button value="customer" #userType>Customer</mat-radio-button>
    <mat-radio-button value="shopkeeper" #userType>Shopkeeper</mat-radio-button>
    <mat-radio-button value="admin" #userType>Admin</mat-radio-button>
  </mat-radio-group>

  <button 
    mat-flat-button 
    color="primary" 
    (click)="onSignUp(suEmail.value, suPassword.value, userType.value)"
    >Sign Up</button>
</mat-card>