<div class="card-container">
<form [formGroup]="customerEditForm" (ngSubmit)="onSubmit()">
<mat-card class="edit-card">
    <mat-card-title>Edit Information</mat-card-title>
    <mat-card-content>    
        <mat-form-field appearance="fill">
            <input matInput formControlName="email" placeholder="New Email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput formControlName="password" type="password" placeholder="New Password">
        </mat-form-field>    
    </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" type="submit">Submit</button>
</mat-card-actions>      
</mat-card>
</form>

<mat-card class="cart-card" >
    <mat-card-title>Order History</mat-card-title>
    <mat-card-content >       
        <!-- <span>{{cart.id}}</span> -->
        <mat-card-subtitle *ngFor="let cart of ui.currentUser.carts" (click)="onClick(cart.id)"
        >{{cart.purchaseDate | date}}</mat-card-subtitle>
    </mat-card-content>
</mat-card>
</div>

<div *ngIf="orderClicked">
    <!-- products is productsInCart -->
    <div *ngFor="let products of ui.cart.products">
        
        <h2>HMmmm: {{products.productName}}</h2>
        
    </div>
</div>
